*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.footer{
    width:100%;
    background:#0b0b0b;
    padding:90px 80px 35px;
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.3fr;
    gap:80px;
}

.logo{
    color:#d4a420;
    font-size:55px;
    font-family:"Old English Text MT", Georgia, serif;
    margin-bottom:35px;
}

.about p{
    color:#8f867c;
    line-height:2;
    font-size:18px;
    max-width:500px;
}

.footer-col h4{
    color:#d4a420;
    font-size:22px;
    letter-spacing:2px;
    margin-bottom:35px;
}

.footer-col a,
.footer-col p{
    display:block;
    text-decoration:none;
    color:#8f867c;
    margin-bottom:22px;
    font-size:20px;
    transition:.3s;
}

.footer-col a:hover{
    color:#d4a420;
}

.footer-bottom{
    margin-top:70px;
    padding-top:40px;
    border-top:1px solid rgba(212,164,32,.35);

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    color:#7c746d;
    font-size:20px;
}

.social-icons{
    display:flex;
    gap:18px;
}

.social-icons a{
    width:52px;
    height:52px;
    border:1px solid rgba(212,164,32,.4);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#d4a420;
    font-size:22px;
    transition:.3s;
}

.social-icons a:hover{
    background:#d4a420;
    color:#111;
}

@media(max-width:992px){

.footer-container{
    grid-template-columns:1fr 1fr;
    gap:50px;
}

.footer-bottom{
    flex-direction:column;
    gap:25px;
}
}

@media(max-width:768px){

.footer{
    padding:60px 25px;
}

.footer-container{
    grid-template-columns:1fr;
}

.logo{
    font-size:42px;
}

.footer-col h4{
    margin-bottom:20px;
}

.footer-bottom p{
    text-align:center;
}
}